<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />

    <title>DevBook - Atualização de Senha</title>
</head>
<body>
    {{ template "cabecalho" }}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Atualização de Senha</h3>
                <form id="atualizar-senha">
                    <div class="form-group">
                        <label for="senha-atual">Senha Atual</label>
                        <input type="password" class="form-control" id="senha-atual" name="senha-atual" placeholder="Informe a senha atual" required>
                    </div>

                    <div class="form-group">
                        <label for="nova-senha">Nova Senha</label>
                        <input type="password" class="form-control" id="nova-senha" name="nova-senha" placeholder="Informe a nova senha" required>
                    </div>

                    <div class="form-group">
                        <label for="confirmar-nova-senha">Confirmar Nova Senha</label>
                        <input type="password" class="form-control" id="confirmar-nova-senha" name="confirmar-nova-senha" placeholder="Confirme a nova senha" required>
                    </div>

                    <button type="submit" class="btn btn-info">Atualizar Senha</button>
                </form>
            </div>
        </div>
    </div>
    {{ template "scripts" }}

    <script src="/assets/js/usuario.js"></script>
</body>
</html>