<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">

    <title>Cadastro de Usuários</title>
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formulario-cadastro">
                <span>Crie sua conta agora mesmo!</span>

                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
                </div>

                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu e-mail" required>
                </div>

                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite seu nick" required>
                </div>

                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                </div>

                <div>
                    <input type="password" name="confimar-senha" id="confirmar-senha" placeholder="Confirme sua senha" required>
                </div>

                <a href="/login">Clique aqui para fazer o login</a>

                <button type="submit" class="btn-devbook">Cadastrar</button>
            </form>
        </div>
    </div>

    {{ template "scripts" }}

    <script src="/assets/js/cadastro.js"></script>
</body>
</html>